body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #ffffff;
    margin: 0 auto;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

form {
    margin: 0;
}

h1 {
    font-family: OpenSans;
    padding-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
}

h2 {
    font-family: OpenSans;
}

.block {
    width: 70%;
    margin-left: 25px;
}

#logo {
    float: left;
}

img {
    height: auto;
    width: 100%;
}

.photo {
    margin-bottom: 3px;
}

.sidebarelem {
    border-left: 4px solid #595959;
    border-top: 2px solid #595959;
    border-bottom: 2px solid #595959;
}
.sidebarelem:hover {
    background: #444444;
    border-left: 4px solid #F0AB28;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.sidebarelem:hover .sidebartext {
    color: #F0AB28;
}

.sidebartext {
    display: flex;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

#header {
    height: 110px;
    overflow: hidden;
    font-size: 2.2em;
    text-align: left;
    padding: 5px;
    background: #F0AB28;
    color: #fff;
    background-image: url(resources/atl.jpg);
}

.atlsoft {
    color: #fff;
    text-decoration: none;
}
.atlsoft:active {
    color: #fff;
}

.atlsoft:visited {
    color: #fff;
}

.details {
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: 1px solid inherit;
    color: #54A5E3;
    text-decoration: none;
}
.details:active {
    color: #54A5E3;
}

.details:visited {
    color: #54A5E3;
}


#mainblock {
    background: #F5F5F5;
    height: auto;
    overflow: hidden;
}
#sidebar {
    font-family: OpenSans;
    font-size: 1.5em;
    width: 220px;
    padding: 10px 0px 20px 0px;
    float: left;
    background: #595959;
    border-radius: 0px 0px 20px 20px;
}
#content {
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background: #F5F5F5;
}

#container {
    background: #F5F5F5;
}

#footer {
    background: #444444;
    color: #fff;
    padding: 5px;
    clear: left;
}
