body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #ffffff;
    margin: 0 auto;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

#menubar {
    height: 50px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background: #444444
}

.menubarbutton {
    width: 170px;
    height: 50px;
    float: right;
    margin: 0 auto;
    vertical-align: middle;
    border-bottom: 2px solid white;
}
.menubarbutton:hover {
    border-bottom: 2px solid #F0AB28;
    background: #595959;
}
.menubarbutton:hover .menubartext{
    color: #F0AB28;
}

.menubartext {
    font-family: OpenSans;
    display: flex;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    padding: 12px;
    text-decoration: none;
}
