body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #ffffff;
    margin: 0 auto;
}

@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans-Regular.ttf);
}

#topbar {
    overflow: auto;
    border-bottom: 2px solid white;
    background: #444444
}

.topbarlabel {
    font-family: OpenSans;
    height: 52px;
    float: left;
    margin-left: 20px;
    vertical-align: middle;
}

.topbarref {
    width: 150px;
    height: 52px;
    float: right;
    margin: 0 auto;
    vertical-align: middle;
}
.topbarref:hover {
    background: #595959;
}
.topbarref:hover .topbartext{
    color: #F0AB28;
}

.topbartext {
    font-family: OpenSans;
    display: flex;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    padding: 12px;
    text-decoration: none;
}
