.vacancyblock {
    margin-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 15px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 20px 5px #E7E2B1;
}
.vacancyblock:hover {
    box-shadow: 0 0 20px 5px #317AED;
}

.vacancytitle {
    font-size: 20px;
    text-decoration: none;
    color: #54A5E3;
}

.vacancydate {
    float: right;
    font-size: 10px;
    color: #444444;
    padding-top: 3px;
    font-weight: bold;
}

.vacancyparam {
    font-size: 15px;
    color: #444444;
    font-weight: bold;
}

.vacancyinfo {
    width: 80%;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 80px;      /* fallback */
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.vacancymoreinfo {
    display: table;
    color: #444444;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #444444;
    border-radius: 10px;
    text-decoration: none;
}
.vacancymoreinfo:hover {
    background: #444444;
    color: #fff;
}

h2 {
    align-self: center;
}

#text1 {
    margin-left: 20px;
}

